{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="" method="POST">
        <h1 class="display-6">Добавление грядки:</h1>
        <div class="container align-items-center">
            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label>Название:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="name" value="">
                </div>
                {% if name_error %}
                <div class="col-auto">
                    <div class="alert alert-danger" role="alert">
                        {{ name_error}}
                    </div>
                </div>
                {% endif %}
            </div>
            <br>

            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label>Размеры</label>
                </div>
                <div class="col-auto">
                    <input value="4" min="1" max="10" type="number" class="form-control"
                           name="weight">
                </div>

                <div class="col-auto">
                    <label>на</label>
                </div>
                <div class="col-auto">
                    <input value="4" min="1" max="10" type="number" class="form-control"
                           name="height">

                </div>
                <div class="col-auto">
                    <label>клеток.</label>
                </div>

            </div>


        </div>
        <input type="submit" class="btn btn-success m-2" name="make" value="Создать грядку">
        {% if beds %}
        <h1 class="display-6">Ваши грядки:</h1>
        {% for bed in beds%}
        <div class="row g-3 align-items-center">

            <div class="col-auto">
                <label>Название:</label>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary m-2" name="{{bed[0]}}" value="{{bed[2]}}">
            </div>
            <div class="col-auto">
                <label>Дата изменения:</label>
            </div>
            <div class="col-auto">
                <label>Скоро будет</label>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-danger m-2" name="delete_{{bed[0]}}" value="Удалить">
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Таблица</title>-->
<!--    <style>-->
<!-- body {-->
<!--    font-family: Arial, sans-serif;-->
<!--    text-align: center;-->
<!--}-->

<!--#garden {-->
<!--    width: 200px;-->
<!--    height: 500px;-->
<!--    border: 1px solid #000;-->
<!--    display: grid;-->
<!--    grid-template-columns: repeat(2, 1fr); /* Измените количество колонок и строк по вашему усмотрению */-->
<!--    grid-gap: 5px;-->
<!--}-->

<!--.cell {-->
<!--    width: calc(100% - 2px); /* Вычитаем 2px для учета границы */-->
<!--    height: calc(100% - 2px);-->
<!--    border: 1px solid #ccc;-->
<!--    position: relative;-->
<!--}-->

<!--.image {-->
<!--    width: 100%;-->
<!--    height: 100%;-->
<!--    position: absolute;-->
<!--    top: 0;-->
<!--    left: 0;-->
<!--}-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div id="garden"></div>-->
<!--<div id="toolbox">-->
<!--        <h2>Панель с картинками</h2>-->
<!--        <div id="images">-->
<!--            <img src="static/prakhov.egor@gmail.com/ИИсус.jpg" class="toolbox-image" draggable="true">-->
<!--            <img src="static/prakhov.egor@gmail.com/ИИсус.jpg" class="toolbox-image" draggable="true">-->
<!--            <img src="image3.png" class="toolbox-image" draggable="true">-->
<!--            &lt;!&ndash; Добавьте свои картинки здесь &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--    <script>-->
<!--document.addEventListener("DOMContentLoaded", () => {-->
<!--    const garden = document.getElementById("garden");-->
<!--    const toolbox = document.getElementById("toolbox");-->
<!--    const gridSize = 4;-->

<!--    for (let i = 0; i < 2 * 5; i++) {-->
<!--        const cell = document.createElement("div");-->
<!--        cell.className = "cell";-->
<!--        garden.appendChild(cell);-->
<!--    }-->

<!--    let draggedItem = null;-->

<!--    garden.addEventListener("dragstart", (event) => {-->
<!--        if (event.target.classList.contains("image")) {-->
<!--            draggedItem = event.target;-->
<!--        }-->
<!--    });-->

<!--    garden.addEventListener("dragover", (event) => {-->
<!--        event.preventDefault();-->
<!--    });-->

<!--    garden.addEventListener("drop", (event) => {-->
<!--        if (draggedItem) {-->
<!--            const cell = event.target.closest(".cell");-->
<!--            if (cell) {-->
<!--                if (!cell.querySelector(".image")) {-->
<!--                    cell.appendChild(draggedItem);-->
<!--                    draggedItem = null;-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    });-->

<!--    toolbox.addEventListener("dragstart", (event) => {-->
<!--        if (event.target.classList.contains("toolbox-image")) {-->
<!--            event.dataTransfer.setData("text/plain", event.target.src);-->
<!--        }-->
<!--    });-->

<!--    garden.addEventListener("dragover", (event) => {-->
<!--        event.preventDefault();-->
<!--    });-->

<!--    garden.addEventListener("drop", (event) => {-->
<!--        const imageUrl = event.dataTransfer.getData("text/plain");-->
<!--        if (imageUrl) {-->
<!--            const cell = event.target.closest(".cell");-->
<!--            if (cell && !cell.querySelector(".image")) {-->
<!--                const image = document.createElement("img");-->
<!--                image.src = imageUrl;-->
<!--                image.className = "image";-->
<!--                cell.appendChild(image);-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--});-->


<!--    </script>-->

<!--</body>-->
<!--</html>-->
