{% extends "base.html" %}

{% block content %}
<div class="container" id="container">
    <form action="" method="POST">
        <h1 class="display-6">Добавление грядки:</h1>
        <div class="container align-items-center">
            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label>Название:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="name" value="">
                </div>
                {% if name_error %}
                <div class="col-auto">
                    <div class="alert alert-danger" role="alert">
                        {{ name_error}}
                    </div>
                </div>
                {% endif %}
            </div>
            <br>

            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label>Размеры</label>
                </div>
                <div class="col-auto">
                    <input value="4" min="1" max="10" type="number" class="form-control"
                           name="weight">
                </div>

                <div class="col-auto">
                    <label>на</label>
                </div>
                <div class="col-auto">
                    <input value="4" min="1" max="10" type="number" class="form-control"
                           name="height">

                </div>
                <div class="col-auto">
                    <label>клеток.</label>
                </div>

            </div>


        </div>
        <input type="submit" class="btn btn-success m-2" name="make" value="Создать грядку">
        {% if beds %}
        <h1 class="display-6">Ваши грядки:</h1>
        {% for bed in beds%}
        <div class="row g-3 align-items-center">

            <div class="col-auto">
                <label>Название:</label>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary m-2" name="{{bed[0]}}" value="{{bed[2]}}">
            </div>
            <div class="col-auto">
                <label>Дата изменения:</label>
            </div>
            <div class="col-auto">
                <label>Скоро будет</label>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-danger m-2" name="delete_{{bed[0]}}" value="Удалить">
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>

<script>
    if (/Mobi/.test(navigator.userAgent)) {
        var div = document.getElementById("container");
        div.innerHTML = '';
        var div_alert = document.createElement("div");
        div_alert.textContent = "Простите, но этот раздел недоступен с телефона.";
        div_alert.classList.add("alert");
        div_alert.classList.add("alert-warning");
        div.appendChild(div_alert);
    }


</script>

{% endblock %}

