<!--Страница создания растения-->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="container-sm">
            <h1 class="display-4">Создание своего растения</h1>
            <div class="row g-3">
                <div class="col-auto">
                    <label class="col-form-label">Название:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" placeholder="Роза белая" name="name">
                </div>
                {% if name_error%}
                <div class="col-auto">
                    <div class="alert alert-danger" role="alert">
                        {{ name_error }}
                    </div>
                </div>
                {% endif %}
            </div>
            <br>
            <div class="input-group mb-3 ">
                <input type="file" name="image" accept=".png,.jpg,.jpeg">
            </div>
            <h1 class="display-6">Дополнительная информация:</h1><br>
            <div class="col-auto">
                <table class="table table-striped-columns">
                    <tbody>
                    <tr>
                        <td>Доп. информация</td>
                        <td><textarea class="form-control" aria-label="With textarea"
                                      name="extra_information"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input type="submit" class="btn btn-success m-2" name="save" value="Сохранить">
        </div>
    </form>
</div>
{% endblock %}