<!--Страница редактирования информации по растению-->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <img src="{{url_for('static', filename=filename)}}" class="img" alt="Растение" height="200"
                     width="auto">
                <input type="file" name="image" accept=".png,.jpg,.jpeg">
            </div>
            <div class="col-auto">
                <h1 class="display-5">{{ name }}</h1>
            </div>
        </div>
        <div class="col-auto">
            <table class="table table-striped-columns">
                <tbody>
                <tr>
                    <td>Доп. информация</td>
                    <td><textarea type="text" class="form-control" name="extra_infromation">{{description.get("Доп. информация", "")}}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" class="btn btn-success m-2" name="save" value="Сохранить">
    </form>
</div>
{% endblock %}