{% extends "base.html" %}



{% block content %}
<div class="container">
<div class="d-flex flex-column align-items-center">
    <form action="" method="post">
        <div class="container p-2">
            <h1 class="display-6">Чем Вы занимались сегодня?</h1>

            <input type="submit"
                   class="btn btn-{{['outline-', '', 'outline-', 'outline-', 'outline-'][status]}}success m-2"
                   name="watering" value="Полив">
            <input type="submit"
                   class="btn btn-{{['outline-', 'outline-', '', 'outline-', 'outline-'][status]}}success m-2"
                   name="planting" value="Посадка">
            <input type="submit"
                   class="btn btn-{{['outline-', 'outline-', 'outline-', '', 'outline-'][status]}}success m-2"
                   name="tending" value="Уход">
            <input type="submit"
                   class="btn btn-{{['outline-', 'outline-', 'outline-', 'outline-', ''][status]}}success m-2"
                   name="harvesting" value="Сбор урожая">
        </div>


        {% if status == 1 %}
        <!--        <h1 class="display-6">Какие растения полили?</h1>-->


        <div style="width:100%;overflow:hidden;">

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">Список растений:</label>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['', 'outline-'][list_status]}}primary btn-sm"
                           name="list_all" value="Весь">
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['outline-', ''][list_status]}}primary btn-sm"
                           name="list_user" value="Ваш">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="text" class="form-control" name="plant_input" value={{plant_input_placeholder}}>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-success" name="search" value="Искать">
                </div>
            </div>

            <div style="height:200px;width:100%;overflow-y:scroll;">
                {% for plant in plants %}
                <label><input type="checkbox" name={{plant[0]}} value={{plant[1]}}>{{ plant[1] }}</label><br>
                {% endfor %}
            </div>

        </div>
        <br>
        <input type="submit" class="btn btn-success m-2" name="save_w" value="Сохранить">

        {% elif status == 2 %}
        <!--        <h1 class="display-6">Посадка</h1>-->
        <div style="width:100%;overflow:hidden;">

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">Список растений:</label>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['', 'outline-'][list_status]}}primary btn-sm"
                           name="list_all" value="Весь">
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['outline-', ''][list_status]}}primary btn-sm"
                           name="list_user" value="Ваш">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="text" class="form-control" name="plant_input" value={{plant_input_placeholder}}>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-success" name="search" value="Искать">
                </div>
            </div>
            <div style="height:200px;width:100%;overflow-y:scroll;">
                {% for plant in plants %}
                <label><input type="checkbox" name={{plant[0]}} value={{plant[1]}} {{plant[2]}}>{{
                    plant[1]}}</label><br>
                {% endfor %}
            </div>
            <br>
            <input type="submit" class="btn btn-success m-2" name="continue_p" value="Продолжить">
            <hr>

            {% if plants_to_plant %}
            {% for plant in plants_to_plant %}
            <div class="container align-items-center">
                <div class="col-auto">
                    <h1 class="display-6">{{ plant[1] }}</h1>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Вы посадили:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example"
                                name="{{ plant[0]|string + '_type' }}">
                            <option value="seeds" selected>Семена</option>
                            <option value="sprouts">Ростки</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <label>Кол-во:</label>
                    </div>
                    <div class="col-auto">
                        <input value="1" min="1" max="1000" type="number" id="typeNumber" class="form-control"
                               name="{{plant[0]|string +'_count'}}">
                    </div>
                </div>


            </div>

            <br>
            {% endfor %}
            <input type="submit" class="btn btn-success m-2" name="save_p" value="Сохранить">
            {% endif %}
        </div>


        {% elif status == 3 %}
        <!--        <h1 class="display-6">Уход</h1>-->
        <div style="width:100%;overflow:hidden;">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">Список растений:</label>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['', 'outline-'][list_status]}}primary btn-sm"
                           name="list_all" value="Весь">
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['outline-', ''][list_status]}}primary btn-sm"
                           name="list_user" value="Ваш">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="text" class="form-control" name="plant_input" value={{plant_input_placeholder}}>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-success" name="search" value="Искать">
                </div>
            </div>
            <div style="height:200px;width:100%;overflow-y:scroll;">
                {% for plant in plants %}
                <label><input type="checkbox" name={{plant[0]}} value={{plant[1]}} {{plant[2]}}>{{
                    plant[1]}}</label><br>
                {% endfor %}
            </div>
            <br>
            <input type="submit" class="btn btn-success m-2" name="continue_t" value="Продолжить">
            <hr>

            {% if plants_to_plant %}
            {% for plant in plants_to_plant %}
            <div class="container align-items-center">
                <div class="col-auto">
                    <h1 class="display-6">{{ plant[1] }}</h1>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Тип ухода:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example"
                                name="{{ plant[0]|string + '_type' }}">
                            <option value="weeding">Прополка</option>
                            <option value="fertilizing" selected>Удобрение</option>
                            <option value="pest_control">Борьба с вредителями</option>
                            <option value="transplant">Пересадка</option>
                            <option value="pruning">Обрезка</option>
                        </select>
                    </div>

                </div>


            </div>

            <br>
            {% endfor %}
            <input type="submit" class="btn btn-success m-2" name="save_t" value="Сохранить">
            {% endif %}
        </div>


        {% elif status == 4 %}
        <!--        <h1 class="display-6">Сбор урожая</h1>-->
        <div style="width:100%;overflow:hidden;">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">Список растений:</label>
                </div>

                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['', 'outline-'][list_status]}}primary btn-sm"
                           name="list_all" value="Весь">
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-{{['outline-', ''][list_status]}}primary btn-sm"
                           name="list_user" value="Ваш">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="text" class="form-control" name="plant_input" value={{plant_input_placeholder}}>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-success" name="search" value="Искать">
                </div>
            </div>
            <div style="height:200px;width:100%;overflow-y:scroll;">
                {% for plant in plants %}
                <label><input type="checkbox" name={{plant[0]}} value={{plant[1]}} {{plant[2]}}>{{
                    plant[1]}}</label><br>
                {% endfor %}
            </div>
            <br>
            <input type="submit" class="btn btn-success m-2" name="continue_h" value="Продолжить">
            <hr>

            {% if plants_to_plant %}
            {% for plant in plants_to_plant %}
            <div class="container align-items-center">
                <div class="col-auto">
                    <h1 class="display-6">{{ plant[1] }}</h1>
                </div>
                <div class="row g-3 align-items-center">

                    <div class="col-auto">
                        <label>Кол-во:</label>
                    </div>
                    <div class="col-auto">
                        <input value="1" min="1" max="1000" type="number" class="form-control"
                               name="{{plant[0]|string +'_count'}}">
                    </div>

                    <div class="col-auto">
                        <label>Вес:</label>
                    </div>
                    <div class="col-auto">
                        <input value="1" min="0.000" max="1000" step="0.1" type="number"
                               class="form-control"
                               name="{{plant[0]|string +'_weight'}}">

                    </div>
                    <div class="col-auto">
                        <label>Кг</label>
                    </div>

                </div>


            </div>

            <br>
            {% endfor %}
            <input type="submit" class="btn btn-success m-2" name="save_h" value="Сохранить">
            {% endif %}
        </div>
        {% endif %}

    </form>
</div>
</div>

{% endblock %}